html {
  height: 100%;
}
html body {
  height: 100%;
}
html body .sitio {
  width: 100%;
  height: 100%;
  background: #ddf;
  position: relative;
}
html body .sitio .clouds {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
html body .sitio .clouds .cloud {
  right: -200px;
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  position: absolute;
}
html body .sitio .clouds .cloud:before, html body .sitio .clouds .cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
html body .sitio .clouds .cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}
html body .sitio .background {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}
html body .sitio .background .pasto {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
  background: url("../img/pasto.png") repeat-x center;
}
html body .sitio .background .pasto {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 200px;
  background: url("../img/pasto.png") repeat-x center;
}
html body .sitio .background .arbol {
  position: absolute;
  bottom: 100px;
  left: -30px;
  width: 253px;
  height: 222px;
  background: url("../img/arbol.png") no-repeat;
}
html body .sitio .background .arbol2 {
  position: absolute;
  bottom: 90px;
  right: -50px;
  width: 253px;
  height: 222px;
  background: url("../img/arbol.png") no-repeat;
}
html body .sitio .web {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}
html body .sitio .web .contenido {
  display: block;
  padding: 30px 0px;
  width: 90%;
  max-width: 1000px;
}
html body .sitio .web .contenido .menu_resp {
  width: 100%;
  height: 110px;
  position: relative;
}
html body .sitio .web .contenido .menu_resp .cont {
  min-width: 320px;
  width: 80%;
}
html body .sitio .web .contenido .menu_resp .cont .hada_chica {
  float: left;
  width: 34%;
  margin-right: 2%;
  height: 100px;
  position: relative;
}
html body .sitio .web .contenido .menu_resp .cont .hada_chica img {
  position: absolute;
  right: 0px;
}
html body .sitio .web .contenido .menu_resp .cont .titulo {
  float: left;
  width: 64%;
  height: 100px;
  position: relative;
}
html body .sitio .web .contenido .menu_resp .cont .titulo .cont_titulo h1 {
  font-size: 28px;
  text-align: center;
}
html body .sitio .web .contenido .menu_resp .cont .titulo .cont_titulo h2 {
  font-size: 16px;
  text-align: center;
}
html body .sitio .web .contenido .menu {
  width: 100%;
  padding-bottom: 10px;
}
html body .sitio .web .contenido .menu .boton {
  float: right;
}
html body .sitio .web .contenido .menu .boton a {
  padding: 10px 6px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
}
html body .sitio .web .contenido .menu .boton:not(:last-child) {
  padding-left: 1%;
}
html body .sitio .web .contenido .menu .color1 a {
  background: rgba(170, 170, 170, 0.8);
}
html body .sitio .web .contenido .menu .color2 a {
  background: #9BCA00;
}
html body .sitio .web .contenido .menu .color3 a {
  background: #FFCC00;
}
html body .sitio .web .contenido .menu .color4 a {
  background: #F9800D;
}
html body .sitio .web .contenido .menu .color5 a {
  background: #F94827;
}
html body .sitio .web .contenido .contenedor {
  display: block;
  height: 500px;
  background: #fff;
  position: relative;
  overflow: hidden;
  /*
  .mensaje_hada{
      img{
          display: block;
          margin: 0 auto;
      }
      .mensaje{
          display: block;
          text-align: center;
          padding-top: 20px;
          font-size: 24px;
      }
  }
  */
}
html body .sitio .web .contenido .contenedor .hada {
  position: absolute;
  z-index: 2;
  width: 25%;
  top: 100px;
}
html body .sitio .web .contenido .contenedor .hada img {
  display: block;
  margin: 0 auto;
}
html body .sitio .web .contenido .contenedor .info {
  position: absolute;
  z-index: 1;
  height: calc(100% - 30px);
  padding: 15px 1%;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Baloo Tamma", cursive;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data {
  height: 100%;
  width: 100%;
  position: relative;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .texto {
  z-index: 2;
  position: absolute;
  left: 3%;
  height: 94%;
  top: 3%;
  overflow-y: auto;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .texto .lista {
  padding: 6px 5px 20px 15px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .texto .lista li {
  list-style: initial;
  font-size: 10px;
  line-height: 14px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .imagen {
  z-index: 2;
  width: 48%;
  position: absolute;
  left: 50%;
  height: 94%;
  top: 3%;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario {
  z-index: 2;
  position: absolute;
  left: 3%;
  height: 94%;
  top: 3%;
  width: 53%;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .titulo {
  font-size: 25px;
  padding-bottom: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .input {
  padding-bottom: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .input span {
  display: block;
  font-size: 14px;
  line-height: 14px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .input input {
  width: 100%;
  height: 30px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .input textarea {
  width: 100%;
  height: 100px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .boton {
  padding-top: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .boton input {
  padding: 5px 15px;
  font-size: 14px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .formulario .leyenda {
  padding-top: 10px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .pagina .data .mapa {
  z-index: 2;
  width: 38%;
  position: absolute;
  left: 60%;
  height: 94%;
  top: 3%;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos {
  top: 0px;
  opacity: 1;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .data .fondo {
  background: linear-gradient(90deg, #fedad4 45%, rgba(254, 218, 212, 0) 100%);
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .data .imagen {
  background: url("../img/conozcanos.jpg") no-repeat;
  background-size: cover;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .titulo {
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .subtitulo {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .listado {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 4px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .titulo_2 {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .sub_titulo_2 {
  font-size: 13px;
  line-height: 13px;
  padding-bottom: 15px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .conozcanos .sub_titulo_3 {
  font-size: 17px;
  line-height: 17px;
  padding-bottom: 10px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios {
  top: 500px;
  opacity: 0;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .data .fondo {
  background: linear-gradient(90deg, #ffeb99 45%, rgba(255, 235, 153, 0) 100%);
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .data .imagen {
  background: url("../img/horarios.jpg") no-repeat;
  background-size: cover;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .titulo {
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .subtitulo {
  font-size: 17px;
  line-height: 17px;
  padding-bottom: 10px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .leyenda {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 10px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .item {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 10px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .horarios .bajada {
  font-size: 19px;
  line-height: 17px;
  padding-top: 5px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa {
  top: 500px;
  opacity: 0;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa .data .fondo {
  background: linear-gradient(90deg, #f3cc9f 45%, rgba(243, 204, 159, 0) 100%);
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa .data .imagen {
  background: url("../img/propuesta_educativa.jpg") no-repeat;
  background-size: cover;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa .titulo {
  font-size: 25px;
  padding-bottom: 5px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa .subtitulo {
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 15px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .propuestaeducativa .leyenda {
  font-size: 12px;
  line-height: 12px;
  padding-bottom: 10px;
  padding-right: 5px;
}
html body .sitio .web .contenido .contenedor .info .cont_pagina .contacto {
  background: rgba(155, 202, 0, 0.4);
  top: 500px;
  opacity: 0;
}
html body .sitio .visita_virtual {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.75);
}
html body .sitio .visita_virtual .cont_visita {
  width: 92%;
  height: 100%;
  max-width: 970px;
  max-height: 517px;
}
html body .sitio .visita_virtual .cont_visita .panorama {
  max-width: 970px;
  max-height: 470px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #FFF;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 100%;
  height: 100%;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .punto {
  position: absolute;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .back {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .foto_prin {
  position: absolute;
  z-index: 2;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .foto_prin .cont_img {
  padding: 10px;
  width: calc(100% - 20px);
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .listado_fotos {
  position: absolute;
  background: rgba(255, 255, 0, 0.2);
  z-index: 1;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .listado_fotos ul {
  padding-top: 5px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .listado_fotos ul li {
  float: left;
  width: 140px;
  padding: 5px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pan .fotos .listado_fotos ul li img {
  width: 140px;
  height: 97px;
}
html body .sitio .visita_virtual .cont_visita .panorama .visible {
  display: block;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_patio {
  top: 150px;
  left: 960px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_biblioteca {
  top: 150px;
  left: 770px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_salas {
  top: 150px;
  left: 1200px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_sala_verde {
  top: 100px;
  left: 80px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_sala_naranja {
  top: 150px;
  left: 80px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_cocina {
  top: 200px;
  left: 80px;
}
html body .sitio .visita_virtual .cont_visita .panorama .entrada .pos_entrada {
  top: 250px;
  left: 500px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_sala_azul {
  top: 245px;
  left: 740px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_sala_roja {
  top: 166px;
  left: 620px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_patio {
  top: 205px;
  left: 660px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_sala_amarilla {
  top: 150px;
  left: 400px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_bano_sala_duna {
  top: 190px;
  left: 355px;
}
html body .sitio .visita_virtual .cont_visita .panorama .pasillo .pos_bano_jardin {
  top: 230px;
  left: 321px;
}
html body .sitio .visita_virtual .cont_visita .panorama .Sala_Verde .pos_sala_actividades {
  top: 245px;
  left: 160px;
}
html body .sitio .visita_virtual .cont_visita .panorama .Sala_Verde .pos_sala_siesta {
  top: 245px;
  left: 1380px;
}
html body .sitio .visita_virtual .cont_visita .panorama .Sala_Verde .pos_bano_sala_cuna {
  top: 245px;
  left: 620px;
}
html body .sitio .visita_virtual .cont_visita .espacio {
  height: 47px;
  width: 100%;
  position: relative;
}
html body .sitio .visita_virtual .cont_visita .espacio a {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
html body .sitio .menu_web {
  position: fixed;
  height: 100%;
  width: 259px;
  z-index: 4;
  left: -260px;
  background: #fff;
  border-right: 1px solid #4193B8;
}
html body .sitio .menu_web .btn_menu {
  position: absolute;
  width: 40px;
  height: 39px;
  top: 17px;
  right: -55px;
  z-index: 2;
}
html body .sitio .menu_web .btn_menu span {
  width: 100%;
  height: 9px;
  margin-top: 4px;
  background: #4193B8;
  display: block;
}
html body .sitio .menu_web .cont_menu {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
html body .sitio .menu_web .cont_menu .titulo_menu {
  width: calc(100% - 90px);
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  color: #4193B8;
  z-index: 2;
}
html body .sitio .menu_web .cont_menu .botones_menu {
  width: 100%;
  position: absolute;
  top: 100px;
  z-index: 2;
}
html body .sitio .menu_web .cont_menu .botones_menu a {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0px 60px 10px 20px;
  border-bottom: 1px solid #4193B8;
  padding-bottom: 6px;
  font-size: 15px;
}
html body .sitio .menu_web .cont_menu .infos_menu {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 300px;
  background: #ddf;
  bottom: 0px;
  right: 0px;
  background-image: linear-gradient(to bottom, white, #4193b8);
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 20px;
  left: 20px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data_titulo {
  padding-bottom: 15px;
  position: relative;
  height: 102px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data_titulo .menu_data_hada {
  position: absolute;
  width: 84px;
  height: 102px;
  left: 0px;
  top: 0px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data_titulo .menu_data_nombre {
  position: absolute;
  width: 130px;
  left: 89px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data_titulo .menu_data_nombre .menu_data_nombre_1 {
  font-size: 18px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data_titulo .menu_data_nombre .menu_data_nombre_2 {
  font-size: 11px;
}
html body .sitio .menu_web .cont_menu .infos_menu .info_bottom .menu_data {
  font-size: 12px;
}
html body .sitio .curso_online {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
  font-family: "Baloo Tamma", cursive;
}
html body .sitio .curso_online .curso {
  width: 98%;
  height: 98%;
  max-height: 425px;
  max-width: 680px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
html body .sitio .curso_online .curso .hada {
  position: absolute;
  width: 201px;
  height: 237px;
  left: -201px;
  top: 70px;
  opacity: 0;
  z-index: 2;
}
html body .sitio .curso_online .curso .mensaje {
  position: absolute;
  width: calc(100% - 231px);
  height: calc(100% - 112px);
  background: rgba(240, 240, 240, 0.9);
  left: 216px;
  top: 125px;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(245, 245, 245, 0.8);
  z-index: 2;
}
html body .sitio .curso_online .curso .ver_cursos {
  position: absolute;
  font-size: 16px;
  padding: 11px 20px;
  right: 15px;
  bottom: -50px;
  opacity: 0;
  background: rgba(240, 240, 240, 0.9);
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  z-index: 2;
}
html body .sitio .curso_online .curso .volver {
  position: absolute;
  left: 25px;
  bottom: -50px;
  opacity: 0;
  font-size: 16px;
  z-index: 2;
}
html body .sitio .curso_online .curso .salas {
  position: absolute;
  width: 45%;
  max-width: 260px;
  padding: 10px 0px;
  text-align: center;
  right: -260px;
  font-size: 18px;
  color: #fff;
  z-index: 2;
}
html body .sitio .curso_online .curso .sala_naranja {
  top: 80px;
  background: #F9800D;
}
html body .sitio .curso_online .curso .sala_roja {
  top: 150px;
  background: #F94827;
}
html body .sitio .curso_online .curso .sala_amarilla {
  top: 220px;
  background: #FFCC00;
}
html body .sitio .curso_online .curso .detalle_curso {
  position: absolute;
  width: 98%;
  height: 98%;
  top: 21%;
  left: 1%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px;
  z-index: 1;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .logo {
  width: 76px;
  left: 0px;
  height: 90px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .logo img {
  height: 90px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .titulo {
  width: 200px;
  left: 80px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .titulo h1 {
  display: block;
  font-size: 24px;
  line-height: 14px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .titulo h2 {
  display: block;
  font-size: 14px;
  line-height: 14px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .botones {
  width: 45%;
  max-width: calc(100% - 280px);
  right: 0px;
  height: 85px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .botones .boton {
  width: 33%;
  height: 100%;
  float: left;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .botones .boton img {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  display: block;
}
html body .sitio .curso_online .curso .detalle_curso .curso_titulo .botones .boton span {
  display: block;
  text-align: center;
  height: 10px;
}
html body .sitio .curso_online .curso .detalle_curso .curso_contenido {
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  background: #dfd;
  top: 100px;
  left: 0px;
  z-index: 1;
}
html body .sitio .curso_online .curso .detalle_curso .curso_lista {
  position: absolute;
  width: 100%;
  height: 150px;
  background: #ddf;
  bottom: -150px;
  left: 0px;
  z-index: 2;
}

@media only screen and (max-width: 488px) {
  .web .contenido .info .cont_pagina .pagina .data .formulario .leyenda {
    font-size: 12px;
    line-height: 12px;
  }
}
@media only screen and (min-width: 488px) {
  .web .contenido .info .cont_pagina .pagina .data .formulario .leyenda {
    font-size: 16px;
    line-height: 16px;
  }
}
@media only screen and (max-width: 580px) {
  .pagina .data .imagen {
    display: none;
  }
  .pagina .data .fondo {
    display: block;
  }
  .pagina .data .texto {
    width: 72%;
    padding-right: 25%;
  }

  .conozcanos {
    background: rgba(249, 72, 39, 0.4) url("../img/conozcanos.jpg") no-repeat top right;
    background-size: contain;
  }

  .horarios {
    background: rgba(255, 204, 0, 0.4) url("../img/horarios.jpg") no-repeat top right;
    background-size: contain;
  }

  .propuestaeducativa {
    background: rgba(249, 128, 14, 0.4) url("../img/propuesta_educativa.jpg") no-repeat top right;
    background-size: contain;
  }
}
@media only screen and (min-width: 580px) {
  .pagina .data .imagen {
    display: block;
  }
  .pagina .data .fondo {
    display: none;
  }
  .pagina .data .texto {
    width: 47%;
  }

  .conozcanos {
    background: rgba(249, 72, 39, 0.4);
  }

  .horarios {
    background: rgba(255, 204, 0, 0.4);
  }

  .propuestaeducativa {
    background: rgba(249, 128, 14, 0.4);
  }
}
@media only screen and (max-width: 768px) {
  html body .sitio .menu_web {
    display: block;
  }
  html body .sitio .web .contenido .menu_resp {
    display: block;
  }
  html body .sitio .web .contenido .menu {
    display: none;
  }
  html body .sitio .contenedor .hada {
    display: none;
  }
  html body .sitio .contenedor .info {
    width: 98%;
    left: 0%;
  }
}
@media only screen and (min-width: 768px) {
  html body .sitio .menu_web {
    display: none;
  }
  html body .sitio .web .contenido .menu_resp {
    display: none;
  }
  html body .sitio .web .contenido .menu {
    display: block;
  }
  html body .sitio .contenedor .hada {
    display: block;
  }
  html body .sitio .contenedor .info {
    width: 73%;
    left: 25%;
  }
}
@media only screen and (max-width: 574px) {
  .visita_virtual .panorama .pan .fotos .foto_prin {
    max-width: 670px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: calc(100% - 100px);
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img img {
    width: 100%;
    height: auto;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos {
    width: 100%;
    height: 100px;
    bottom: 0px;
    right: 0px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 904px) and (min-width: 574px) {
  .visita_virtual .panorama .pan .fotos .foto_prin {
    max-width: 670px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100% - 100px);
    text-align: center;
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img {
    height: calc(100% - 20px);
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img img {
    width: auto;
    height: 100%;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos {
    width: 100%;
    height: 100px;
    bottom: 0px;
    right: 0px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
@media only screen and (max-width: 1054px) and (min-width: 904px) {
  .visita_virtual .panorama .pan .fotos .foto_prin {
    width: 670px;
    height: 100%;
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img {
    height: calc(100% - 20px);
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img img {
    width: auto;
    height: 100%;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos {
    width: calc(100% - 670px);
    right: 0px;
    height: 100%;
    overflow-y: auto;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos ul {
    width: 150px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1054px) {
  .visita_virtual .panorama .pan .fotos .foto_prin {
    width: 670px;
    height: 100%;
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img {
    height: calc(100% - 20px);
  }
  .visita_virtual .panorama .pan .fotos .foto_prin .cont_img img {
    width: 100%;
    height: auto;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos {
    width: 300px;
    right: 0px;
    height: 100%;
    overflow-y: auto;
  }
  .visita_virtual .panorama .pan .fotos .listado_fotos ul {
    width: 300px;
  }
}
.box {
  width: 100%;
  padding: 0px;
  position: relative;
  background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#fff), color-stop(0.1, #fff));
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  -webkit-border-bottom-right-radius: 60px 5px;
}

.box:before {
  content: "";
  width: 98%;
  z-index: -1;
  height: 99%;
  padding: 0 0 1px 0;
  position: absolute;
  bottom: 1%;
  right: 0;
  background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#fff), color-stop(0.1, #fff));
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
  -webkit-border-bottom-right-radius: 60px 5px;
  -webkit-transform: skew(2deg, 2deg) translate(3px, 5px);
}

.box:after {
  content: "";
  width: 98%;
  z-index: -1;
  height: 96%;
  padding: 0 0 1px 0;
  position: absolute;
  bottom: 2%;
  right: 0;
  background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(0.1, #fff));
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  -webkit-transform: skew(2deg, 2deg) translate(-1px, 2px);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bbb;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: 62.5% Arial, Helvetica, sans-serif;
}

table {
  /*border-collapse:collapse;
  border-spacing:0;*/
  width: 100%;
}

fieldset, img, abbr, acronym {
  border: 0;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, dl {
  list-style: none;
}

caption, th {
  text-align: left;
}

img {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-size: 100%;
  font-weight: normal;
}

a {
  outline: none;
}

/*PROPIEDADES*******************************/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/*\*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/**/
.margen_bloque {
  margin-right: 10px;
}

.flotar_izq {
  float: left;
  display: inline;
}

.flotar_der {
  float: right;
  display: inline;
}

.vhalign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.halign {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=jardin.css.map */
